@import '~leaflet/dist/leaflet.css';

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  border: 0;
  z-index: 10;
}

.leaflet-bar a:last-child, .leaflet-bar a, .leaflet-bar a:hover {
  border: 2px solid var(--bs-yellow);
  
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
  border-radius: 5px !important;
  color: var(--bs-yellow) !important;
} 

.leaflet-control-zoom-out {
  margin-top: 10px;
}
