.calendar {
  padding: 20px 55px;
  border: 0px solid #000000;
  box-shadow: 0px 2px 2px #b6b6b6;
  width: 100%;

  > div {
    width: 50%;
    padding: 0 10px;
  }
}


@media screen and (max-width: 670px) {
  .container {
    display: none;
  }
}
